---
import Layout from '../layouts/Landing.astro';
---

<Layout title="August Reading Plan" description="" heroImage="">
  <section>
    <h4>July 31 to August 4</h4>
    <hr style="border: none;border-top: 1px solid rgb(var(--gray-light)); width: 350px;" />

    <a class="month-links" href={`/texts/2thessalonians2-psalm80`}>2 Thessalonians 2 & Psalm 80</a><br />
    <a class="month-links" href={`/blog`}>2 Thessalonians 3 & Psalm 81</a><br />
    <a class="month-links" href={`/blog`}>1 Peter 1 & Psalm 82</a><br />
    <a class="month-links" href={`/blog`}>1 Peter 2 & Psalm 83</a><br />
    <a class="month-links" href={`/blog`}>1 Peter 3 & Psalm 84</a><br />

    <h4>August 7 to August 11</h4>
    <hr style="border: none;border-top: 1px solid rgb(var(--gray-light)); width: 350px;" />
    <a class="month-links" href={`/blog`}>1 Peter 4 & Psalm 85</a><br />
    <a class="month-links" href={`/blog`}>1 Peter 5 & Psalm 86</a><br />
    <a class="month-links" href={`/blog`}>2 Peter 1 & Psalm 87</a><br />
    <a class="month-links" href={`/blog`}>2 Peter 2 & Psalm 88</a><br />
    <a class="month-links" href={`/blog`}>2 Peter 3 & Psalm 89</a><br />

    <h4>August 14 to August 18</h4>
    <hr style="border: none;border-top: 1px solid rgb(var(--gray-light)); width: 350px;" />
    <a class="month-links" href={`/blog`}>1 John 1 & Psalm 90</a><br />
    <a class="month-links" href={`/blog`}>1 John 2 & Psalm 91</a><br />
    <a class="month-links" href={`/blog`}>1 John 3 & Psalm 92</a><br />
    <a class="month-links" href={`/blog`}>1 John 4 & Psalm 93</a><br />
    <a class="month-links" href={`/blog`}>1 John 5 & Psalm 94</a><br />

    <h4>August 21 to August 25</h4>
    <hr style="border: none;border-top: 1px solid rgb(var(--gray-light)); width: 350px;" />
    <a class="month-links" href={`/blog`}>(2 & 3 John & Jude) & Nehemiah 1</a><br />
    <a class="month-links" href={`/blog`}>Matthew 1 & Nehemiah 2</a><br />
    <a class="month-links" href={`/blog`}>Matthew 2 & Nehemiah 3</a><br />
    <a class="month-links" href={`/blog`}>Matthew 3 & Nehemiah 4</a><br />
    <a class="month-links" href={`/blog`}>Matthew 4 & Nehemiah 5</a><br />

    <h4>August 28 to September 1</h4>
    <hr style="border: none;border-top: 1px solid rgb(var(--gray-light)); width: 350px;" />
    <a class="month-links" href={`/blog`}>Matthew 5 & Nehemiah 6</a><br />
    <a class="month-links" href={`/blog`}>Matthew 6 & Nehemiah 7</a><br />
    <a class="month-links" href={`/blog`}>Matthew 7 & Nehemiah 8</a><br />
    <a class="month-links" href={`/blog`}>Matthew 8 & Nehemiah 9</a><br />
    <a class="month-links" href={`/blog`}>Matthew 9 & Nehemiah 10</a><br />
  </section>
</Layout>
