---
import Layout from '../layouts/Landing.astro';
---

<Layout
  title="Reading Plans"
  description="Each week you will read ten chapters of the Bible. By the end of the year, as a Church, we’ll have read through a portion of the Old Testament and the entire New Testament. We’re in this together!"
  heroImage="/lnl_full.webp"
>
  <section>
    <a href={`/august`}>
      <img style="margin-top: 50px;" width={600} height={360} src="/august.webp" alt="" />
    </a>
    <a href={`/september`}>
      <img style="margin-top: 50px;" width={600} height={360} src="/september.webp" alt="" />
    </a>
  </section>
</Layout>
