---
import Layout from '../layouts/Landing.astro';
---

<Layout title="September Reading Plan" description="" heroImage="">
  <section>
    <h4>September 4 to September 8</h4>
    <hr style="border: none;border-top: 1px solid rgb(var(--gray-light)); width: 350px;" />
    <a class="month-links" href={`/blog`}>Matthew 10 & Nehemiah 11</a><br />
    <a class="month-links" href={`/blog`}>Matthew 11 & Nehemiah 12</a><br />
    <a class="month-links" href={`/blog`}>Matthew 12 & Nehemiah 13</a><br />
    <a class="month-links" href={`/blog`}>Matthew 13 & Psalm 95</a><br />
    <a class="month-links" href={`/blog`}>Matthew 14 & Psalm 96</a><br />

    <h4>September 11 to September 15</h4>
    <hr style="border: none;border-top: 1px solid rgb(var(--gray-light)); width: 350px;" />
    <a class="month-links" href={`/blog`}>Matthew 15 & Psalm 97</a><br />
    <a class="month-links" href={`/blog`}>Matthew 16 & Psalm 98</a><br />
    <a class="month-links" href={`/blog`}>Matthew 17 & Psalm 99</a><br />
    <a class="month-links" href={`/blog`}>Matthew 18 & Psalm 100</a><br />
    <a class="month-links" href={`/blog`}>Matthew 19 & Esther 1</a><br />

    <h4>September 18 to September 22</h4>
    <hr style="border: none;border-top: 1px solid rgb(var(--gray-light)); width: 350px;" />
    <a class="month-links" href={`/blog`}>Matthew 20 & Esther 2</a><br />
    <a class="month-links" href={`/blog`}>Matthew 21 & Esther 3</a><br />
    <a class="month-links" href={`/blog`}>Matthew 22 & Esther 4</a><br />
    <a class="month-links" href={`/blog`}>Matthew 23 & Esther 5</a><br />
    <a class="month-links" href={`/blog`}>Matthew 24 & Esther 6</a><br />

    <h4>September 25 to September 29</h4>
    <hr style="border: none;border-top: 1px solid rgb(var(--gray-light)); width: 350px;" />
    <a class="month-links" href={`/blog`}>Matthew 25 & Esther 7</a><br />
    <a class="month-links" href={`/blog`}>Matthew 26 & Esther 8</a><br />
    <a class="month-links" href={`/blog`}>Matthew 27 & Esther 9</a><br />
    <a class="month-links" href={`/blog`}>Matthew 28 & Esther 10</a><br />
    <a class="month-links" href={`/blog`}>1 Corinthians 1 & Psalm 101</a><br />
  </section>
</Layout>
